<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>imd3 - Exercices d'animations GSAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="l-header">
      <nav class="l-container">
        <ul>
          <li><a href="index.html">Animations GSAP</a></li>
          <li><a href="timeline.html">Timeline GSAP</a></li>
          <li><a href="scroll-trigger.html">ScrollTrigger GSAP</a></li>
        </ul>
        <p>
          📚
          <a href="https://gsap.com/docs/v3/" target="_blank"
            >Documentation GSAP</a
          >
        </p>
      </nav>
    </header>

    <block name="content"></block>

    <script src="js/main.js" type="module"></script>
  </body>
</html>
